#textdomain wesnoth-units
[unit_type]
    id=GPA_CH1_Cannon
    name= _ "Cannon"
    race=GunpowderHuman
    image="cannon.png"
    ellipse="misc/ellipse"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=44
    movement_type=GPA_artillery
    movement=4
    experience=42
    level=1
    alignment=lawful
    advances_to=GPA_CH2_Artillery
    cost=18
    usage=archer
    description= _ "Cannons are primitive compared to modern artillery but there are plenty of them left around from a previous war whereas artillery have only recently started being produced. Thus only experienced crews are granted the newer pieces. The older works are still devastating against massed infantry."
    die_sound={SOUND_LIST:HUMAN_DIE}

    [attack]
        name=Bombardment
        description=_"Bombard"
        type=impact
        range=ranged
        damage=12
        number=2
        icon=attacks/thunderstick.png
    [/attack]
    [attack]
        name=Defense
        description=_"Crew Defense"
        type=blade
        range=melee
        damage=5
        number=2
        icon=attacks/sword-human-short.png
    [/attack]

    [attack_anim]
        [filter_attack]
            name=Bombardment
        [/filter_attack]
            [frame]
                begin=-400
                end=0
                image="cannon.png"
                sound=dragonstick.ogg
            [/frame]
        [missile_frame]
            begin=-50
            end=0
            image="projectiles/bullet.png"
            image_diagonal="projectiles/bullet.png"
        [/missile_frame]
    [/attack_anim]
[/unit_type]
